#container{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    text-align: center;
    background-image: linear-gradient(rgba(255,0,0,0), rgba(255,100,50,1));
}

p{
    font-size: 30px;
}
b{
    text-decoration: underline;
}
.Lists{
    display: inline-block;
    width: 100%;
}

.list1, .list2, .list3{
    width:33%;
    border: 1px solid blue;
    height: auto;
    float: left;
    text-align: left;
}

.list1 ul{
    list-style: square;
}

.list2 ol{
    list-style: lower-roman;
}

.list3 dl{
    margin-left: 10px;
}

.list4{
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
}

.list4 ul{
    text-align: left;
}

